<section class="zapis" aria-labelledby="zapis-tytul">
  <h2 id="zapis-tytul">Dziesiątki ogłoszeń tygodniowo, kilka wartych twojej uwagi</h2>
  <p>Szukasz biznesu online do kupienia? Zapisz się poniżej, analizuję oferty i pokazuję to, czego nie widać w ogłoszeniu.</p>

  <div class="formularz">
    <div id="mlb2-45792898" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-45792898">
      <div class="ml-form-align-center">
        <div class="ml-form-embedWrapper embedForm">
          <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
            <form class="ml-block-form" action="https://assets.mailerlite.com/jsonp/2627871/forms/198236303761867902/subscribe" data-code="" method="post" target="_blank">
              <div class="ml-form-formContent">
                <div class="ml-form-fieldRow">
                  <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
                    <input aria-label="email" aria-required="true" type="email" class="form-control" name="fields[email]" placeholder="Twój adres e-mail" autocomplete="email">
                  </div>
                </div>
                <div class="ml-form-fieldRow ml-last-item">
                  <div class="ml-field-group ml-field-name ml-validate-required">
                    <div class="custom-checkbox-radio-list">
                      <div class="custom-control custom-checkbox">
                        <input aria-label="name" aria-required="true" class="custom-control-input" type="checkbox" value="Chcę otrzymywać newsletter na podany adres e-mail i zgadzam się na przesyłanie informacji drogą elektroniczną." id="checkbox-45792898-13-0">
                        <label class="custom-control-label" for="checkbox-45792898-13-0">
                          Chcę otrzymywać newsletter na podany adres e-mail i zgadzam się na przesyłanie informacji drogą elektroniczną.
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <input type="hidden" name="ml-submit" value="1">
              <div class="ml-form-embedSubmit">
                <button type="submit" class="primary">Zapisz się</button>
                <button disabled="disabled" style="display: none;" type="button" class="loading">
                  <div class="ml-form-embedSubmitLoad"></div>
                  <span class="sr-only">Ładowanie...</span>
                </button>
              </div>
              <input type="hidden" name="anticsrf" value="true">
            </form>
          </div>
          <div class="ml-form-successBody row-success" style="display: none">
            <div class="ml-form-successContent">
              <h4>Prawie gotowe</h4>
              <p>Sprawdź skrzynkę i kliknij link potwierdzający zapis. Bez tego nie trafisz na listę i nie dostaniesz ode mnie żadnej wiadomości.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p class="klauzula">
    Administratorem danych jest {{ site.autor }}, kontakt: {{ site.email }}. Adres e-mail przetwarzam wyłącznie po to, żeby wysyłać newsletter. Podanie adresu jest dobrowolne, ale bez niego nie wyślę wiadomości. Dane przechowuję do momentu wypisania się z listy. Masz prawo dostępu do swoich danych, ich poprawienia, usunięcia i wniesienia sprzeciwu. Szczegóły w <a href="{{ '/polityka-prywatnosci/' | relative_url }}">polityce prywatności</a>.
  </p>
</section>

<script>
  function ml_webform_success_45792898() {
    var $ = ml_jQuery || jQuery;
    $('.ml-subscribe-form-45792898 .row-success').show();
    $('.ml-subscribe-form-45792898 .row-form').hide();
  }
</script>
<script src="https://groot.mailerlite.com/js/w/webforms.min.js?v83147fa8ce2d95cb73ece7f28b469519" type="text/javascript"></script>
<script>
  fetch("https://assets.mailerlite.com/jsonp/2627871/forms/198236303761867902/takel")
</script>
